{# Section_start Block #}

{% block section_start -%}
    <div class="panel panel-primary" data-collapsed="0">
                    <div class="panel-heading">
                        <div class="panel-tittle">
                            {% trans %} General Data Prueba {% endtrans %}
                        </div>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
{%- endblock section_start %}

{% block section_end -%}

{%- endblock section_end %}