
###> symfony/framework-bundle ###
/public/temp
/.env
/public/bundles/
/var/
/bin/
/vendor/
/cloud/
/src/Migrations/
.env*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
