<!-- Mail Body -->
<script>
  var wysihtml5Editor;
  var signature;
</script>
<div class="mail-body">
  <form id="form-send-mail" name="form-send-mail" method="post" role="form">
  <div class="mail-header">
    <!-- title -->
    <div class="mail-title">
      Redactar correo <i class="entypo-pencil"></i>
    </div>
    <!-- links -->
    <div class="mail-links">
      <a id="btn-discard-mail" href="#" class="btn btn-default">
        <i class="entypo-cancel"></i>
      </a>
      <a href="#" class="btn btn-default btn-icon">
        Borrador
        <i class="entypo-tag"></i>
      </a>
      <button type="submit" id="btn-send-mail" class="btn btn-success btn-icon">
        Enviar
        <i class="entypo-mail"></i>
        </button>
    </div>
  </div>

  <div class="panel-body">
    <div class="form-group">
        <label class="col-sm-1 control-label" for="from">Desde:</label>
        <div class="col-sm-11">
          <select name="from" id="mail-accounts" class="selectboxit">
            <optgroup label="Cuentas de correo">
            </optgroup>
          </select>
        </div>
    </div>
  </div>
  <div class="mail-compose">
      <div class="form-group">
        <label for="to">Para:</label>
        <input type="input" class="form-control" id="to" name="to" tabindex="1" />
        <input type="hidden" class="form-control" id="in_reply_to" name="in_reply_to" tabindex="1" />
        <div class="field-options">
          <a href="javascript:;" id="cc-button" onclick="$(this).hide(); $('#cc').parent().removeClass('hidden'); $('#cc').focus();">CC</a>
          <a href="javascript:;" id="bcc-button" onclick="$(this).hide(); $('#bcc').parent().removeClass('hidden'); $('#bcc').focus();">BCC</a>
        </div>
      </div>
      <div class="form-group hidden">
        <label for="cc">CC:</label>
        <input type="text" class="form-control" id="cc" name="cc" tabindex="2" />
      </div>
      <div class="form-group hidden">
        <label for="bcc">BCC:</label>
        <input type="text" class="form-control" id="bcc" name="bcc" tabindex="2" />
      </div>
      <div class="form-group">
        <label for="subject">Asunto:</label>
        <input type="text" class="form-control" id="subject" name="subject" tabindex="1" />
      </div>
      <div class="compose-message-editor">
      <textarea id="content" name="content"></textarea>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
          <div class="dropzone"><div class="dz-message" data-dz-message><span>Ficheros Adjuntos</span></div></div>
      </div>
  </div>
  </form>
</div>

<script>
  $(document).ready(function(){

    // init,configure dropzone
    Dropzone.autoDiscover = false;
    var jsonFiles = [];
    var token="{{token}}";
    var editor_init=false;
    var dropzone_default = new Dropzone(".dropzone", {
        url: '{{url('uploadTemp')}}',
        maxFilesize: 20,  // in Mb
        addRemoveLinks: true,
        init: function () {
            this.on("maxfilesexceeded", function(file) {
                this.removeFile(file);
            });
            this.on("sending", function(file, xhr, formData) {
            });
            this.on("success", function(file, response) {
                if (response.uploaded)
                  jsonFiles.push(response.fileName);
            });
        }
    });

    function resetEmail(){
      $('#form-send-mail').trigger("reset");
      $('#cc').parent().addClass('hidden');
      $('#cc-button').show();
      $('#bcc').parent().addClass('hidden');
      $('#bcc-button').show();
      wysihtml5Editor.value = signature;
      dropzone_default.removeAllFiles(true);
    }

    function getSignature(){
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.getJSON($("#email-account-option-"+$("#mail-accounts").val()).attr('signature'),function( data ){
        var content=wysihtml5Editor.value;
        var startToken='<!-- start:'+token+' -->';
        var endToken='<!-- end:'+token+' -->';
        var signStart=content.indexOf(startToken);
        var signEnd=content.indexOf(endToken);
        var content_first=content.substr(0,signStart+startToken.length);
        var content_last=content.substr(signEnd);
        content=content_first+content_last;
        content=content_first+data.signature+content_last;
        signature=data.signature;
        wysihtml5Editor.value = content;

      }).always(function() {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
      });
    }



    $("#mail-accounts").bind({
      "change": function(ev, obj) {
        if(editor_init)	getSignature();
      }
    });

    $('#btn-discard-mail').click(function(){
      resetEmail();
    });

    $( "#form-send-mail" ).on( "submit", function( event ) {
      event.preventDefault();
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      data= $( this ).serialize()+"&text_content="+encodeURIComponent(wysihtml5Editor.value)+"&html_content="+encodeURIComponent(wysihtml5Editor.value)+"&files="+encodeURIComponent(JSON.stringify(jsonFiles)) ;
      console.log(data);
      $.post('{{ url('emailSend') }}',data, function( data ){
        resetEmail();
        if(data.result)	toastr.success("El correo se ha enviado correctamente", "Confirmación", confirmation);
          else toastr.error("No se pudo enviar el correo", "Confirmación", confirmation);
      },'json').always(function() {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
      });
    });

    wysihtml5Editor = new Jodit("#content",{
    });
    wysihtml5Editor.events.on('afterInit', function (data) {
    getSignature();
    editor_init=true;
    });

    {# formward message #}
    {% if id>0 %}
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.getJSON('{{ url('emailGet', {'folder': folder, 'id': id}) }}', function( data ){

          {% if mode==1 %}
            $("#mail-accounts").data("selectBox-selectBoxIt").disable();
            $('#subject').val('RE: '+data.subject);
            $("#mail-accounts").data("selectBox-selectBoxIt").selectOption(data.account+"");
            $("#to").val(data.from);
            $("#in_reply_to").val(data.message_id);
            wysihtml5Editor.value='<!-- start:'+token+' -->'+'<!-- end:'+token+' -->'+'</br></br>El '+moment(data.timestamp*1000).format('LLLL')+', '+data.from+' escribio: </br></br>';
          {% else %}
            $('#subject').val('FWD: '+data.subject);
            $("#mail-accounts").data("selectBox-selectBoxIt").selectOption(data.account+"");
            wysihtml5Editor.value='</br></br>---------- Forwarded message ---------'+
                                     '</br>From: '+data.from+
                                     '</br>Date: '+moment(data.timestamp*1000).format('LLLL')+
                                     '</br>Subject: '+data.subject+
                                     '</br>To: '+data.to+'</br></br>'+data.content+'<!-- start:'+token+' -->'+'<!-- end:'+token+' -->';
          {% endif %}
      }).always(function() {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
      });
      {%endif%}
  });
</script>
