<div class="modal fade" tabindex="-1" id="customer-search-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('customer')|trans }}</h4>
        </div>
        <div id="customer-search-modal-form-body" style="height: 520px; padding: 0px 10px;">
          {% set listConstructor = customerslist %}
          {% set listOrigin = "" %}
          {# for know if list.html is invoked directly from controller and we need to make modals inside list#}
          {{ include('@Globale/list.html.twig') }}
        </div>
    </div>
  </div>
</div>

<script>
  var customerFields=["customer-form-id","customer-form-code","customer-form-vat","customer-form-name", "customer-form-customergroup", "customer-form-paymentmethod", "customer-form-taxexempt", "customer-form-surcharge"];
  var customerSearchfields=["id","code","vat","name", "customergroup", "paymentmethod", "taxexempt", "surcharge"];


  function postCustomerSearch(){
  //  $("#customer-form-view").attr("attr-id").val($("#customer-form-id").val());
  }
  function customerSearch(fields, searchFields){
    if($("#customer-form-code").val()!=""){
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
         url: '{{ url('genericsearch',{'module':'ERP', 'name':'Customers', 'field':'code'}) }}/'+$("#customer-form-code").val(),
         type: 'POST',
         data: JSON.stringify(searchFields),
         success:  function( data ) {
           if((--load_wait)==0) $("#load-spinner").fadeOut();
           if(data.result){
             var i=0;
             Object.entries(data.data).forEach(function(element) {
               $("#"+fields[i]).val(element[1]);
               i++;
             });
             postCustomerSearch();
           } else {
             clearFields(fields);
             toastr.error("No se encontro el cliente introducido", "Confirmación", confirmation);
           }
         }
       });
    }else clearFields(fields);
  }

  $(document).ready(function() {
    {# CUSTOMER SEARCH #}
/*
    $('body').on('keypress', "#customer-form-code", function(e) {
        var code = e.keyCode || e.which;
         if(code == 13) {
           customerSearch(customerFields, customerSearchfields);
         }
      });

    $('body').on('change', "#customer-form-code", function(e) {
         customerSearch(customerFields, customerSearchfields);
    });
*/
  $('body').on('change', "[id^='customer-form-name']", function(e) {
       	$('#customer-form-view').css('display','block');
  });

    $('body').on('click', "[id^='listCustomerscustomized-field-button-select-']", function(e) {

      $("#customer-form-id").val($(this).attr('attr-id'));
      $("#customer-form-id").trigger('change');
      $("#destination-form-customercode").val($(this).parent().parent().parent().children('td').eq(1).text());
      $("#destination-form-customercode").trigger('change');
      $("#destination-form-customercode").attr("disabled", true);
      $("#destination-form-name").val($(this).parent().parent().parent().children('td').eq(2).text());
      $("#destination-form-name").trigger('change');


      getAddresses($(this).attr('attr-id'));
/*
      $("#customer-form-id").val($(this).attr('attr-id'));
      $("#customer-form-id").trigger('change');
      $("#destination-form-customercode").val($(this).parent().parent().parent().children('td').eq(1).text());
      $("#destination-form-customercode").trigger('change');
      $("#destination-form-customercode").attr("disabled", true);
      $("#destination-form-email").val($(this).parent().parent().parent().children('td').eq(3).text());
      $("#destination-form-email").trigger('change');
      $("#destination-form-phone").val($(this).parent().parent().parent().children('td').eq(4).text());
      $("#destination-form-phone").trigger('change');
      $("#destination-form-address").val($(this).parent().parent().parent().children('td').eq(5).text());
      $("#destination-form-address").trigger('change');
      $("#destination-form-postcode").val($(this).parent().parent().parent().children('td').eq(6).text());
      $("#destination-form-postcode").trigger('change');
      $("#destination-form-city").val($(this).parent().parent().parent().children('td').eq(7).text());
      $("#destination-form-city").trigger('change');
      $("#destination-form-state").val($(this).parent().parent().parent().children('td').eq(8).text());
      $("#destination-form-state").trigger('change');
      $("#destination-form-country").val($(this).parent().parent().parent().children('td').eq(9).text());
      $("#destination-form-country").trigger('change');
      $("#destination-form-view").attr("attr-id",$(this).attr("attr-id"));
      $("#destination-form-view").css("display","inline-block");

      $("#customer-search-modal-form").modal('toggle');
      */
    });


    function getAddresses(id){
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/customer/addresses/"+id+"/get",
        }).done(function( elements, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
            $("#addresses-body").append(
              '<div class="row no-gutters">'+
              '<div class="col-sm-4 d-none d-sm-block" style="font-weight:bold;font-size:13px;padding: 7px 2px;">Nombre</div>'+
              '<div class="col-sm-4 d-none d-sm-block" style="font-weight:bold;font-size:13px;padding: 7px 2px;">Dirección</div>'+
              '<div class="col-sm-1 d-none d-sm-block" style="font-weight:bold;font-size:13px;padding: 7px 2px;">C.P.</div>'+
              '<div class="col-sm-2 d-none d-sm-block" style="font-weight:bold;font-size:13px;padding: 7px 2px;">Ciudad</div>'+
              '</div>'
            );
           elements.forEach( function(valor, indice, array){
              $("#addresses-body").append(
                '<div class="row no-gutters" attr-id="'+valor.id+'" id="address-line-'+valor.id+'">'+
                  '<div class="col-2 d-block d-sm-none" style="top: 8px;">Código</div>'+
                  '<div class="col-2 d-block d-sm-none" style="top: 8px;">Nombre</div>'+
                  '<div class="col-10 col-sm-4"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" readonly id="address-form-name-'+valor.id+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Nombre" value="'+valor.name+'"> </div> </div>'+
                  '<div class="col-2 d-block d-sm-none" style="top: 8px;">Dirección</div>'+
                  '<div class="col-10 col-sm-4"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" readonly id="address-form-address-'+valor.id+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Dirección" value="'+valor.address+'"> </div> </div>'+
                  '<div class="col-2 d-block d-sm-none" style="top: 8px;">Código Postal</div>'+
                  '<div class="col-10 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" readonly id="address-form-postcode-'+valor.id+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Código Postal" value="'+valor.postcode+'"> </div> </div>'+
                  '<div class="col-2 d-block d-sm-none" style="top: 8px;">Ciudad</div>'+
                  '<div class="col-10 col-sm-2"> <div class="form-group" style="margin-bottom: 0px;"> <input type="text" readonly id="address-form-city-'+valor.id+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Ciudad" value="'+valor.city+'"> </div> </div>'+
                  '<input type="hidden" id="address-form-state-'+valor.id+'" value="'+valor.stateid+'">'+
                  '<input type="hidden" id="address-form-country-'+valor.id+'" value="'+valor.countryid+'">'+
                  '<input type="hidden" id="address-form-email-'+valor.id+'" value="'+valor.email+'">'+
                  '<input type="hidden" id="address-form-phone-'+valor.id+'" value="'+valor.phone+'">'+
                  '<div class="btn-group "><button attr-id="'+valor.id+'" id="address-form-buttonadd-'+valor.id+'" type="button" class="default-action btn btn-success tooltip-primary"><i class="fa fa-plus" aria-hidden="true"></i></button></div>'+
                  '</div>'
                );

          });
          $("#select-addresses-modal-form").modal('show');
        });
    }
  });
  </script>
