{# Modal busqueda de proveedor  #}
<div class="modal fade" tabindex="-1" id="supplier-search-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('supplier')|trans }}</h4>
        </div>
        <div id="supplier-search-modal-form-body" style="height: 520px; padding: 0px 10px;">
          {% set listConstructor = supplierslist %}
          {% set listOrigin = "" %}
          {% set hidePageLength = true %}
          {# for know if list.html is invoked directly from controller and we need to make modals inside list#}
          {{ include('@Globale/list.html.twig') }}
        </div>
    </div>
  </div>
</div>

<script>
  {# Acciones a realizar una vez realizada la busqueda de proveedores #}
  function postSupplierSearch(){

  }

  {# Busqueda de proveedores #}
  function SupplierSearch(fields, searchFields){
    if($("#supplier-form-code").val()!=""){
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
         url: '{{ url('genericsearch',{'module':'ERP', 'name':'Suppliers', 'field':'code'}) }}/'+$("#supplier-form-code").val(),
         type: 'POST',
         data: JSON.stringify(searchFields),
         success:  function( data ) {
           if((--load_wait)==0) $("#load-spinner").fadeOut();
           if(data.result){
             var i=0;
             Object.entries(data.data).forEach(function(element) {
               $("#"+fields[i]).val(element[1]);
               i++;
             });
             postSupplierSearch();
           } else {
             clearFields(fields);
             toastr.error("No se encontro el proveedor introducido", "Confirmación", confirmation);
           }
         }
       });
    }else clearFields(fields);
  }

  {# Costo de envío en función del proveedor #}
  function setShippingCharge(){
      if($("#buyorder-form-freeshipping").val()==0){
         $("#buyorder-form-shippingcharge").val("PAGADOS");
         $("#buyorder-form-shippingcharge").addClass("input-success");
         $("#buyorder-form-shippingcharge").removeClass("input-danger");
       }
      else {
         $("#buyorder-form-shippingcharge").val("DEBIDOS");
         $("#buyorder-form-shippingcharge").addClass("input-danger");
         $("#buyorder-form-shippingcharge").removeClass("input-success");
       }
  }

  {# Estimar fecha de entrega en función del proveedor #}
  function setEstimatedDate(){
      var estimated=parseInt($("#buyorder-form-estimateddelivery-number").val());
      var res = new Date();
      res.setDate(res.getDate() + estimated);
      //si la fecha de entrega estimada cae en fin de semana, se pasa al lunes siguiente
      if(res.getDay()==6) res.setDate(res.getDate() + 2);
      else if(res.getDay()==7) res.setDate(res.getDate() + 1);

      var day;
      //si el día es menor que 10, añadimos un 0 delante para evitar posibles fallos
      if(res.getDate()<10) day= "0"+res.getDate();
      else day= res.getDate();
      var datetoday = day+'/'+(res.getMonth()+1)+'/'+res.getFullYear();
      $("#buyorder-form-estimateddelivery").val(datetoday);
  }

  {# Obtener información del almacén #}
  function setStoreInfo(id){
    if((++load_wait)==1) $("#load-spinner").fadeIn();
    $.ajax({
       type: "GET",
       dataType: "json",
       url: "/api/ERP/stores/getstoreinfo/"+id,
     }).done(function(elements, textStatus, jqXHR) {
       if((--load_wait)==0) $("#load-spinner").fadeOut();
        $("#destination-form-name").val(elements.infostore.name);
        $("#destination-form-address").val(elements.infostore.address);
        $("#destination-form-city").val(elements.infostore.city);
        $("#destination-form-postcode").val(elements.infostore.postcode);
        $("#destination-form-state").val(elements.infostore.stateid);
        $("#destination-form-state").trigger('change');
        $("#destination-form-country").val(elements.infostore.countryid);
        $("#destination-form-phone").val(elements.infostore.phone);
        $("#tab-head-send").css("display","block");
      });
  }

  {# Cuando se termine de cargar la página #}
  $(document).ready(function() {

    {# Seleccionar proveedor #}
    $('body').on('click', "[id^='listSupplierswithcode-field-button-select-']", function(e) {
      var supplier_id = $(this).attr('attr-id');
      $("#supplier-form-id").val(supplier_id);
      $("#supplier-form-code").val($("#listSupplierswithcode-code-"+supplier_id).text());
      $("#supplier-form-name").val($("#listSupplierswithcode-name-"+supplier_id).text());
      $("#supplier-form-codename").val('('+$("#supplier-form-code").val()+') '+$("#supplier-form-name").val());
      $("#supplier-form-id").trigger('change');

      $("#supplier-form-email").val($("#listSupplierswithcode-email-"+supplier_id).text());
      $("#supplier-form-phone").val($("#listSupplierswithcode-phone-"+supplier_id).text());
      $("#supplier-form-paymentmethod").val($("#listSupplierswithcode-paymentmethod__name-"+supplier_id).text());

      $("#buyorder-form-additionalcost").val(0);
      $("#buyorder-form-weight").val(0);

      $("#supplier-search-modal-form").modal('toggle');
    });

    {# Evento de cambio de proveedor en el formulario principal #}
    $('body').on('change', "#supplier-form-id", function(e) {
      code=$("#supplier-form-code").val();
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/supplier/orderinfo/"+code+"/get",
        }).done(function( elements, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
          $("#buyorder-form-minorder").val(elements.minorder);
          $("#buyorder-form-minorder").trigger('change');
          $("#buyorder-form-minorder").attr("disabled", true);
          $("#buyorder-form-freeshipping").val(elements.freeshipping);
          $("#buyorder-form-freeshipping").trigger('change');
          $("#buyorder-form-freeshipping").attr("disabled", true);
          $("#buyorder-form-estimateddelivery-number").val(elements.estimateddelivery);
         setShippingCharge();
         setEstimatedDate();
         setStoreInfo(1);
        });
    });
  });
  </script>
