{# Modal selecci´n de dirección del cliente  #}
<div class="modal fade" tabindex="-1" id="select-addresses-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">Direcciones del cliente</h4>
        </div>
        <div id="addresses-body" style="height: 200px; padding: 0px 0px 0px 15px;">
        </div>
    </div>
  </div>
</div>

<script>
{# Obtienen  los contactos del cliente seleccionado #}
function setContactsCustomer(id){
  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
     type: "GET",
     dataType: "json",
     url: "/api/global/contactscustomer/"+id
  }).done(function(elements, textStatus, jqXHR) {
     if((--load_wait)==0) $("#load-spinner").fadeOut();     
      if (elements!=null){
        $("#destination-form-contact-id").html('');
        elements.forEach( function(valor, indice, array){
          $("#destination-form-contact-id").append('<option value="'+valor.id+'">'+valor.text+'</option>');
        });
      }
  });
  $("#destination-form-contact-id").val('');
  $("#destination-form-contact-id").trigger('change');
}

$(document).ready(function() {
  $('body').on('click', "[id^='address-form-buttonadd-']", function(e) {
      customer_id         = $("#customer-form-id-tmp").val();
      customer_address_id = $(this).attr("attr-id");
      customer_form_id    = '{{ customerslist.id }}';
      // El cliente seleccionado se pone como realmente seleccionado una vez seleccionada su dirección
      $("#customer-form-id-tmp").val('');
      $("#customer-form-id").val(customer_id);
      $("#customer-form-code").val($("#"+customer_form_id+"-code-"+customer_id).text());
      $("#customer-form-name").val($("#"+customer_form_id+"-name-"+customer_id).text());
      $("#customer-form-codename").val("("+$("#"+customer_form_id+"-code-"+customer_id).text()+") "+$("#"+customer_form_id+"-name-"+customer_id).text());

      $("#destination-form-id").val(customer_address_id);
      $("#destination-form-name").val($("#address-form-name-"+customer_address_id).val());
      $("#destination-form-address").val($("#address-form-address-"+customer_address_id).val());
      $("#destination-form-postcode").val($("#address-form-postcode-"+customer_address_id).val());
      $("#destination-form-city").val($("#address-form-city-"+customer_address_id).val());
      $("#destination-form-state").val($("#address-form-state-"+customer_address_id).val());
      $("#destination-form-state").trigger('change');
      $("#destination-form-country").val($("#address-form-country-"+customer_address_id).val());
      $("#destination-form-country").trigger('change');
      $("#destination-form-phone").val($("#address-form-phone-"+customer_address_id).val());
      $("#destination-form-email").val($("#address-form-email-"+customer_address_id).val());

      setContactsCustomer(customer_id);

      $("#select-addresses-modal-form").modal('toggle');
      $("#customer-search-modal-form").modal('toggle');
    });
});
</script>
