<div class="panel minimal">
  <div class="panel-heading">
        <div class="panel-title">Almacenes</div>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      {% set basiclist=stocklist %}
      {{ include('@Globale/basiclist.html.twig') }}
    </div>
  </div>
</div>
<div class="panel minimal">
  <div class="panel-heading">
        <div class="panel-title">Histórico de Movimientos</div>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      {% set basiclist=historylist %}
      {{ include('@Globale/basiclist.html.twig') }}
    </div>
  </div>
</div>
