<div class="row">
  <div class="col-md-6">
    {% set basiclist=productpriceslist %}
    {{ include('@Globale/basiclist.html.twig') }}
  </div>
  <div class="col-md-6">
    {% set basiclist=customerprices %}
    {{ include('@Globale/basiclist.html.twig') }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel-title-list">Ofertas</div>
    {% if offerpriceslist is defined %}
    {% set listConstructor = offerpriceslist %}
    {{ include('@Globale/list.html.twig') }}
    {% endif %}
  </div>
</div>
