<script>
    function addPurchasesDemandsLine(){
      var purchasesdemandsLines=$("#purchasesdemands-lines");
      var prevline=parseInt(purchasesdemandsLines.attr("attr-numlines"));
      var numLines=parseInt(purchasesdemandsLines.attr("attr-numlines"))+1;
      var code=$("#product-form-code-"+prevline).val();
    //  if(code!="")
    //  {
         purchasesdemandsLines.append(''+
        '<div class="row no-gutters" attr-id="'+numLines+'"  id="purchasesdemands-line-'+numLines+'" style="margin-bottom:8px;">'+
        '<div class="col-12 d-block d-sm-none" style="height: 15px;">&nbsp;</div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;">Cod. Prod.</div>'+
        '	<div class="col-10 col-md-2">'+
        '		<div class="form-group" style="margin-bottom: 0px;">'+
        '			<div class="input-group" >'+
        '				<a class="btn btn-white" attr-id="'+numLines+'" id="product-form-remove-'+numLines+'" style="position: absolute;height: 31px;left: 0px;padding: 9px 7px;z-index: 10;" href="#"> <i class="fa fa-remove"></i></a>'+
        '				<input type="hidden" attr-id="'+numLines+'" id="product-form-line-id-'+numLines+'"><input type="hidden" attr-id="'+numLines+'" id="product-form-id-'+numLines+'"><input type="text" readonly attr-id="'+numLines+'" id="product-form-code-'+numLines+'" class="form-control" style="padding-left: 28px; border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cod. Producto">'+
        '				<div class="input-group-btn"><button type="button" attr-id="'+numLines+'" id="product-search-button-'+numLines+'" class="btn btn-white" style="height: 31px; border-radius: 0px;"><i class="fa fa-search"></i> </button></div>'+
        '			</div>'+
        '		</div>'+
        '	</div>'+
        ' <div class="col-2 d-block d-sm-none" style="top: 8px;">Nombre</div>'+
        '	<div class="col-10 col-md-3"> <div class="form-group" style="margin-bottom: 0px;"> <input readonly type="text" id="product-form-name-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Nombre"> </div> </div>'+
        ' <div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Variantes</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <select attr-id="" id="product-form-variants-id-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Variantes"></select> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Proveedor</div>'+
        '<div class="col-3 col-md-2"> <div class="form-group" style="margin-bottom: 0px;"> <select attr-id="" id="product-form-suppliers-id-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Proveedor"></select> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Motivo</div>'+
        '<div class="col-8 col-sm-1"> <div class="form-group" style="margin-bottom: 0px;"> <select attr-id="" id="product-form-reasons-id-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Razón"></select> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Agente</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"><input type="hidden" id="product-form-agentid-'+numLines+'"><input type="text" readonly attr-id="'+numLines+'" id="product-form-agent-'+numLines+'" class="recalculate form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Agente"> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Cantidad</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"><input type="text" attr-id="'+numLines+'" value=1 id="product-form-quantity-'+numLines+'" class="recalculate form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cantidad"> </div> </div>'+
        '</div>');
        purchasesdemandsLines.attr("attr-numlines", numLines);
        numerateLines();
    //  }
  //    else{
  //      toastr.warning("Por favor, elige un producto antes de añadir una nueva línea", "Alerta", confirmation);
  //    }
    }

/*
    function removePurchasesDemandsLine(numLine){
           code=$("#product-form-reject-code-"+numline).val();
           reason=$("#product-reject-reason-"+numline).val();
           rejectNotificaction(code,reason);
           $("#purchasesdemands-line-"+numLine).addClass("deleted");
           $("#purchasesdemands-line-"+numLine).fadeOut();
           $("#purchasesdemands-line-"+numLine).attr("id","purchasesdemands-line-deleted");
    }*/


    function rejectProductNotification(agent,code,reason)
    {
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      var data={agent: agent, code: code, reason: reason};
      $.ajax({
         type: "POST",
         dataType: "json",
         data: JSON.stringify(data),
         url: "/api/ERP/purchasesdemands/rejectProductNotification",
       }).done(function(data, textStatus, jqXHR) {
         if((--load_wait)==0) $("#load-spinner").fadeOut();
         if(data.result) toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
          else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);

     });

    }

    function saveLines()
    {
        if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
         url: '{{ url('dataERPPurchasesDemands') }}',
         type: 'POST',
         data: JSON.stringify(prepare_purchasesdemands_json()),
         success:  function( data ) {
           if((--load_wait)==0) $("#load-spinner").fadeOut();
           if(data.result){
             jQuery.each(data.data.lines, function(i, line) {
               $("#product-form-line-id-"+line.linenum).val(line.id);
             });
             toastr.success("Lista guardada correctamente", "Confirmación", confirmation);
             location.reload();
           } else {
             toastr.error("No se pudo guardar la lista", "Confirmación", confirmation);
           }
         }
       });

    }


    function numerateLines(){
      var i=0;
      var purchasesdemandsLines=$("#purchasesdemands-lines");
      $("[id^='purchasesdemands-line-']:not(.deleted)").each(function() {
          i++;
          $(this).find("#product-form-id-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-line-id-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-line-id-"+$(this).attr("attr-id")).attr("id","product-form-line-id-"+i);
          $(this).find("#product-form-id-"+$(this).attr("attr-id")).attr("id","product-form-id-"+i);
          $(this).find("#product-form-code-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-code-"+$(this).attr("attr-id")).attr("id","product-form-code-"+i);
          $(this).find("#product-form-name-"+$(this).attr("attr-id")).attr("id","product-form-name-"+i);
          $(this).find("#product-search-button-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-search-button-"+$(this).attr("attr-id")).attr("id","product-search-button-"+i);
          $(this).find("#product-form-variants-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-variants-"+$(this).attr("attr-id")).attr("id","product-form-variants-"+i);
          $(this).find("#product-form-suppliers-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-suppliers-"+$(this).attr("attr-id")).attr("id","product-form-suppliers-"+i);
          $(this).find("#product-form-quantity-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-quantity-"+$(this).attr("attr-id")).attr("id","product-form-quantity-"+i);
          $(this).find("#product-form-reasons-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-reasons-"+$(this).attr("attr-id")).attr("id","product-form-reasons-"+i);
          $(this).find("#product-form-remove-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-remove-"+$(this).attr("attr-id")).attr("id","product-form-remove-"+i);
          $(this).attr('attr-id',i);
          $(this).attr('id','purchasesdemands-line-'+i);
      });
      purchasesdemandsLines.attr("attr-numlines", i);
    }



    function removePurchasesDemandsLine(numLine){
    //  var workListLines=$("#worklist-lines");
    //  var numLines=parseInt(worklistLines.attr("attr-numlines"));
    //  if(numLines!=numLine){
         //$("#document-line-"+numLine).remove();
         $("#purchasesdemands-line-"+numLine).addClass("deleted");

         $("#purchasesdemands-line-"+numLine).fadeOut();
         $("#purchasesdemands-line-"+numLine).attr("id","purchasesdemands-line-deleted");
         //documentLines.attr("attr-numlines",numLines);
         //numerateLines();
    //  }
        saveLines();
        numerateLines();
      //  saveLines();

    }

    function findProductOnPurchaseOrder(id){
      var productid=$("#product-form-id-"+id).val();
      var productcode=$("#product-form-code-"+id).val();
      var quantity=$("#product-form-quantity-"+id).val();
      var supplier=$("#product-form-suppliers-id-"+id).val();

      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/PurchasesOrders/findproduct/"+productid,
        }).done(function( data, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();

           if(data.result.id!=null){
            var id=data.result.id;
            var code=data.result.code;
             $.confirm({
                 theme: 'bootstrap',
                 title: '',
                 content: 'El producto '+productcode+' ya está incluido en el pedido <b><a href="{{ url('index') }}es/ERP/purchasesorders/form/'+id+'" target="_blank">'+code+'</a></b> ¿Quieres añadir las unidades?',
                 buttons: {
                    confirm: { text: 'Si', btnClass: 'btn-green', action: function(){

                                addProductToPurchaseOrder(productid,quantity,id);

                           }

                           },
                    cancel: { text: 'No', btnClass: 'btn-red', action: function(){
                              alert("no");
                           }
                  }
                }
             });
           }

           else{

                findPurchaseOrder(supplier);
            }

        });

    }

    function findPurchaseOrder(supplier){

      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/PurchasesOrders/findpurchaseorder/"+supplier,
        }).done(function( data, textStatus, jqXHR ) {

          if((--load_wait)==0) $("#load-spinner").fadeOut();

           if(data.result.id!=null){
            var id=data.result.id;
            var name=data.result.name;

            $.confirm({
                theme: 'bootstrap',
                title: '',
                content: 'Ya existe un pedido de compra para el proveedor <b><a href="{{ url('index') }}es/ERP/purchasesorders/form/'+id+'" target="_blank">'+name+'</a></b> ¿Quieres añadir el producto?',
                buttons: {
                   confirm: { text: 'Si', btnClass: 'btn-green', action: function(){

                               addProductToPurchaseOrder(productid,quantity,id);

                          }

                          },
                   cancel: { text: 'No', btnClass: 'btn-red', action: function(){
                             alert("no");
                          }
                 }
               }
            });
          }

          else{

               //createPurchaseOrder(supplier);
           }


      });


    }

    function addProductToPurchaseOrder(productid,quantity,orderid){

      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/PurchasesOrders/addproduct/"+productid+"/"+quantity+"/"+orderid
        }).done(function( data, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
          if(data.result) toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
  					else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
        });

    }

    function addProductToPurchaseOrder(productid,quantity){

      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/PurchasesOrders/addproduct/"+productid+"/"+quantity+"/"+orderid
        }).done(function( data, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
          if(data.result) toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
            else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
        });

    }

</script>
