<script>
    function addPurchasesDemandsLine(){
      var purchasesdemandsLines=$("#purchasesdemands-lines");
      var prevline=parseInt(purchasesdemandsLines.attr("attr-numlines"));
      var numLines=parseInt(purchasesdemandsLines.attr("attr-numlines"))+1;
      var code=$("#product-form-code-"+prevline).val();
    //  if(code!="")
    //  {
         purchasesdemandsLines.append(''+
        '<div class="row no-gutters" attr-id="'+numLines+'"  id="purchasesdemands-line-'+numLines+'" style="margin-bottom:8px;">'+
        '<div class="col-12 d-block d-sm-none" style="height: 15px;">&nbsp;</div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;">Cod. Prod.</div>'+
        '	<div class="col-10 col-md-2">'+
        '		<div class="form-group" style="margin-bottom: 0px;">'+
        '			<div class="input-group" >'+
        '				<a class="btn btn-white" attr-id="'+numLines+'" id="product-form-remove-'+numLines+'" style="position: absolute;height: 31px;left: 0px;padding: 9px 7px;z-index: 10;" href="#"> <i class="fa fa-remove"></i></a>'+
        '				<input type="hidden" attr-id="'+numLines+'" id="product-form-line-id-'+numLines+'"><input type="hidden" attr-id="'+numLines+'" id="product-form-id-'+numLines+'"><input type="text" readonly attr-id="'+numLines+'" id="product-form-code-'+numLines+'" class="form-control" style="padding-left: 28px; border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cod. Producto">'+
        '				<div class="input-group-btn"><button type="button" attr-id="'+numLines+'" id="product-search-button-'+numLines+'" class="btn btn-white" style="height: 31px; border-radius: 0px;"><i class="fa fa-search"></i> </button></div>'+
        '			</div>'+
        '		</div>'+
        '	</div>'+
        ' <div class="col-2 d-block d-sm-none" style="top: 8px;">Nombre</div>'+
        '	<div class="col-10 col-md-3"> <div class="form-group" style="margin-bottom: 0px;"> <input readonly type="text" id="product-form-name-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Nombre"> </div> </div>'+
        ' <div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Variantes</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <select attr-id="" id="product-form-variants-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Variantes"></select> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Proveedor</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"> <select attr-id="" id="product-form-suppliers-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Proveedor"></select> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Razón</div>'+
        '<div class="col-8 col-sm-2"> <div class="form-group" style="margin-bottom: 0px;"> <select attr-id="" id="product-form-reasons-'+numLines+'" class="form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Razón"></select> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Agente</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"><input type="hidden" id="product-form-agentid-'+numLines+'"><input type="text" readonly attr-id="'+numLines+'" id="product-form-agent-'+numLines+'" class="recalculate form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Agente"> </div> </div>'+
        '<div class="col-2 d-block d-sm-none" style="top: 8px;left: 5px;">Cantidad</div>'+
        '<div class="col-3 col-md-1"> <div class="form-group" style="margin-bottom: 0px;"><input type="text" attr-id="'+numLines+'" value=1 id="product-form-quantity-'+numLines+'" class="recalculate form-control" style="border: 1px solid #ebebeb !important; border-radius: 0px;" placeholder="Cantidad"> </div> </div>'+
        '<div class="form-group" style="margin: 3px 0 0 3px;"><div class="input-group"> <button attr-id="'+numLines+'" id="product-form-send-'+numLines+'" type="button" class=" btn btn-info tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title=" Añadir a pedido de compra "><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></div></div>'+
        '</div>');
        purchasesdemandsLines.attr("attr-numlines", numLines);
        numerateLines();
    //  }
  //    else{
  //      toastr.warning("Por favor, elige un producto antes de añadir una nueva línea", "Alerta", confirmation);
  //    }
    }


    function removePurchasesDemandsLine(numLine){
    //  var workListLines=$("#worklist-lines");
    //  var numLines=parseInt(worklistLines.attr("attr-numlines"));
    //  if(numLines!=numLine){
         //$("#document-line-"+numLine).remove();
         $("#purchasesdemands-line-"+numLine).addClass("deleted");

         $("#purchasesdemands-line-"+numLine).fadeOut();
         $("#purchasesdemands-line-"+numLine).attr("id","purchasesdemands-line-deleted");
         //documentLines.attr("attr-numlines",numLines);
         //numerateLines();
    //  }
        saveLines();
        numerateLines();
      //  saveLines();

    }


    function numerateLines(){
      var i=0;
      var purchasesdemandsLines=$("#purchasesdemands-lines");
      $("[id^='purchasesdemands-line-']:not(.deleted)").each(function() {
          i++;
          $(this).find("#product-form-id-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-line-id-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-line-id-"+$(this).attr("attr-id")).attr("id","product-form-line-id-"+i);
          $(this).find("#product-form-id-"+$(this).attr("attr-id")).attr("id","product-form-id-"+i);
          $(this).find("#product-form-code-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-code-"+$(this).attr("attr-id")).attr("id","product-form-code-"+i);
          $(this).find("#product-form-name-"+$(this).attr("attr-id")).attr("id","product-form-name-"+i);
          $(this).find("#product-search-button-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-search-button-"+$(this).attr("attr-id")).attr("id","product-search-button-"+i);
          $(this).find("#product-form-variants-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-variants-"+$(this).attr("attr-id")).attr("id","product-form-variants-"+i);
          $(this).find("#product-form-suppliers-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-suppliers-"+$(this).attr("attr-id")).attr("id","product-form-suppliers-"+i);
          $(this).find("#product-form-quantity-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-quantity-"+$(this).attr("attr-id")).attr("id","product-form-quantity-"+i);
          $(this).find("#product-form-reasons-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-reasons-"+$(this).attr("attr-id")).attr("id","product-form-reasons-"+i);
          $(this).find("#product-form-remove-"+$(this).attr("attr-id")).attr("attr-id",i);
          $(this).find("#product-form-remove-"+$(this).attr("attr-id")).attr("id","product-form-remove-"+i);
          $(this).attr('attr-id',i);
          $(this).attr('id','purchasesdemands-line-'+i);
      });
      purchasesdemandsLines.attr("attr-numlines", i);
    }

    function findPurchaseOrder(id){
      var productid=$("#product-form-id-"+id).val();
      var productcode=$("#product-form-code-"+id).val();
      var quantity=$("#product-form-quantity-"+id).val();
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/PurchasesOrders/findproduct/"+productid,
        }).done(function( data, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();

           if(data.result.id!=null){
            var id=data.result.id;
            var code=data.result.code;
             $.confirm({
                 theme: 'bootstrap',
                 title: '',
                 content: 'El producto '+productcode+' ya está incluido en el pedido <b><a href="{{ url('index') }}es/ERP/purchasesorders/form/'+id+'" target="_blank">'+code+'</a></b> ¿Quieres añadir las unidades?',
                 buttons: {
                    confirm: { text: 'Si', btnClass: 'btn-green', action: function(){

                                addProductToPurchaseOrder(productid,quantity,id);

                           }

                           },
                    cancel: { text: 'No', btnClass: 'btn-red', action: function(){
                              alert("no");
                           }
                  }
                }
             });
           }



        });

    }

    function addProductToPurchaseOrder(productid,quantity,orderid){

      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
          type: "GET",
          dataType: "json",
          url: "/api/ERP/PurchasesOrders/addproduct/"+productid+"/"+quantity+"/"+orderid
        }).done(function( data, textStatus, jqXHR ) {
          if((--load_wait)==0) $("#load-spinner").fadeOut();
          if(data.result) toastr.success("Datos guardados correctamente", "Confirmación", confirmation);
  					else toastr.error("Ocurrió un error al guardar los datos", "Confirmación", confirmation);
        });

    }

</script>
