{% if infos is not null %}
<div class="panel minimal">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div id="salestickets-info" class="alert alert-info form-validation-error" style="display: {% if infos is defined and infos|length > 0 %}block;{% else %}none;{% endif %}">
          <strong>Información:</strong></br></br><ul id="validation-infos-list">
            {% if infos is defined %}
              {% for item in infos %}
                <li>{{ item | raw }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
  function validate_salesticket(){
    $  (".error").remove();
      var valid=true;

      if($("#customer-form-code").val()=="")
      {

       toastr.error("Por favor, selecciona un cliente", "Confirmación", confirmation);
        valid=false;
        return valid;
      }

      if($("#salesticket-form-observations").val()=="")
      {
        toastr.error("Por favor, añade una observación a la incidencia", "Confirmación", confirmation);
         valid=false;
         return valid;

      }
      if($("#salesticket-form-states-select").val()=="-1")
      {
        toastr.error("Por favor, selecciona un nuevo estado para la incidencia", "Confirmación", confirmation);
         valid=false;
         return valid;

      }


      /*
      if($(this).find("#product-form-suppliers-"+$(this).attr("attr-id")).val()=="-1")
      {
       code=$(this).find("#product-form-code-"+$(this).attr("attr-id")).val()
       toastr.error("No se ha seleccionado proveedor para el producto "+code, "Confirmación", confirmation);
        valid=false;
        return valid;
      }
*/

  return valid;

}
</script>
