<div class="panel">
<div class="row">
    <div style="text-align: left;" class="col-md-6"></div>
    <div style="text-align: right;margin-bottom:10px;" class="col-md-6">
      <button attr-id="" attr-action="" id="salesticket-button-cance" type="button" class="btn btn">Cancelar</button>
      <button attr-id="" attr-action="" id="salesticket-button-save" type="button" class="btn btn-green">Guardar</button>
    </div>
  </div>
</div>
</div>
