{% if id!=0 %}
{% if salesticket.salesticketstate.name!="Solucionado" %}
<div class="panel" id="panel-button" {% if id==0 %} style="display:none;" {% endif %}>
<div class="row">
    <div style="text-align: left;" class="col-md-6"></div>
    <div style="text-align: right;margin-bottom:10px;" class="col-md-6">
      <button type="button" id="salesticket-button-add-info" class="btn btn-blue" data-toggle="modal" data-target="#add-information-modal-form" >
        Añadir información
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endif %}
