<div class="modal fade" tabindex="-1" id="customer-search-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);display:inline-block;">
        <div class="modal-header">
          <h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('customer')|trans }}</h4>
        </div>
        <div id="customer-search-modal-form-body" style="height: 520px; padding: 0px 10px;">
          {% set listConstructor = customerslist %}
          {% set listOrigin = "" %}
          {# for know if list.html is invoked directly from controller and we need to make modals inside list#}
          {{ include('@Globale/list.html.twig') }}
        </div>
    </div>
  </div>
</div>

<script>
  var customerFields=["customer-form-id","customer-form-code","customer-form-vat","customer-form-name", "customer-form-customergroup", "customer-form-paymentmethod", "customer-form-taxexempt", "customer-form-surcharge"];
  var customerSearchfields=["id","code","vat","name", "customergroup", "paymentmethod", "taxexempt", "surcharge"];


  function postCustomerSearch(){
  //  $("#customer-form-view").attr("attr-id").val($("#customer-form-id").val());
  }
  function customerSearch(fields, searchFields){
    if($("#customer-form-code").val()!=""){
      if((++load_wait)==1) $("#load-spinner").fadeIn();
      $.ajax({
         url: '{{ url('genericsearch',{'module':'ERP', 'name':'Customers', 'field':'code'}) }}/'+$("#customer-form-code").val(),
         type: 'POST',
         data: JSON.stringify(searchFields),
         success:  function( data ) {
           if((--load_wait)==0) $("#load-spinner").fadeOut();
           if(data.result){
             var i=0;
             Object.entries(data.data).forEach(function(element) {
               $("#"+fields[i]).val(element[1]);
               i++;
             });
             postCustomerSearch();
           } else {
             clearFields(fields);
             toastr.error("No se encontro el cliente introducido", "Confirmación", confirmation);
           }
         }
       });
    }else clearFields(fields);
  }

  $(document).ready(function() {
    {# CUSTOMER SEARCH #}
/*
    $('body').on('keypress', "#customer-form-code", function(e) {
        var code = e.keyCode || e.which;
         if(code == 13) {
           customerSearch(customerFields, customerSearchfields);
         }
      });

    $('body').on('change', "#customer-form-code", function(e) {
         customerSearch(customerFields, customerSearchfields);
    });
*/
  $('body').on('change', "[id^='customer-form-name']", function(e) {
       	$('#customer-form-view').css('display','block');
  });

    $('body').on('click', "[id^='listCustomerswithcode-field-button-select-']", function(e) {

      $("#customer-form-id").val($(this).attr('attr-id'));
      $("#customer-form-id").trigger('change');
      $("#customer-form-code").val($(this).parent().parent().parent().children('td').eq(1).text());
      $("#customer-form-code").trigger('change');
      $("#customer-form-name").val($(this).parent().parent().parent().children('td').eq(2).text());
      $("#customer-form-name").trigger('change');
      $("#customer-form-name").attr("disabled", true);
      $("#customer-form-email").val($(this).parent().parent().parent().children('td').eq(4).text());
      $("#customer-form-email").trigger('change');
      $("#customer-form-email").attr("disabled", true);
      $("#customer-form-view").attr("attr-id",$(this).attr("attr-id"));
      $("#customer-form-view").css("display","inline-block");
      $("#panel-searching").css("display","none");
      $("#panel-button").css("display","block");
      $("#customer-data").css("display","block");
      $("#info-add").css("display","block");
      $("#validation-infos-list").empty();
      $("#validation-infos-list").append("<li>Si necesitas ampliar los detalles de la incidencia, puedes hacerlo pinchando en el botón 'Añadir información'. También puedes añadir imágenes si lo necesitas</li>");


    //  $("#customer-form-view"+$("#customer-search-modal-form").attr("attr-id")).val($(this).parent().parent().parent().children('td').eq(1).text());
      $("#customer-search-modal-form").modal('toggle');
    });
  });
  </script>
