<div class="panel"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
    <div class="row">
    <div class="col-md-2">
        <h4 class="modal-title">Elegir motivo</h4>
          <div class="form-group">
                      <input type="hidden" id="salesticket-form-reasons" class="form-control">
                      <label for="salesticket-form-reasons-select">Elegir motivo de la incidencia</label>
                      <select type="text" id="salesticket-form-reasons-select" class="form-control select2" required>
                          <option value="-1">Elegir motivo...</option>
                        {% for option in reasons %}
                          <option value="{{ option.id }}">{{ option.text }}</option>
                        {% endfor %}
                      </select>
            </div>
        </div>
      </div>
    </div>
</div>
