{% if salesticket.customer==null %}
<div id="panel-searching" class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none; margin-bottom: -1px;display:none;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body">
    <div class="panel-title">Filtros de búsqueda <strong>(puedes buscar por cliente o por pedido asociado a la incidencia)</strong></div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" id="salesorder-form-search" class="form-control" placeholder="Buscar pedido..." data-toggle="modal" data-target="#salesorder-search-modal-form">
          <div class="input-group-btn">
            <button type="button" id="salesorder-search-button" class="btn btn-white" style="height: 31px;" data-toggle="modal" data-target="#salesorder-search-modal-form">
              <i class="fa fa-search"></i> </button>
            </div>
          </div>
        </div>
        <p style="line-height: 31px;font-size:15px;">ó</p>
        <div class="col-md-3">
          <div class="input-group">
            <input type="text" id="customer-form-search" class="form-control" placeholder="Buscar cliente..." data-toggle="modal" data-target="#customer-search-modal-form">
            <div class="input-group-btn">
              <button type="button" id="customer-search-button" class="btn btn-white" style="height: 31px;" data-toggle="modal" data-target="#customer-search-modal-form">
                <i class="fa fa-search"></i> </button>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
{% endif %}

<script>

$('body').on('click', "#customer-form-view", function(e){
    var id=$(this).attr("attr-id");
    if(id!=0 && id!=""){
    url=$(this).attr("attr-url");
    url=url.replace('_____',$(this).attr("attr-id"));
    var win = window.open(url, '_blank');
    win.focus();
  }
});


$('body').on('click', "#salesorder-form-view", function(e){
    var id=$(this).attr("attr-id");
    if(id!=0 && id!=""){
    url=$(this).attr("attr-url");
    url=url.replace('_____',$(this).attr("attr-id"));
    var win = window.open(url, '_blank');
    win.focus();
  }
  });

  $('body').on('click', "#salesorder-form-external-view", function(e){
    url1="https://www.ferreteriacampollano.com/admin320zsqccu/index.php?controller=AdminOrders&id_order=";
    url2="&vieworder&token=754aeb19ae44be8bae2739a918819e20";
    var id=$(this).attr("attr-id");
    if(id!=0 && id!=""){
      url=url1+id+url2;
    //  url=url.replace('_____',$(this).attr("attr-id"));
      var win = window.open(url, '_blank');
      win.focus();
    }


});
</script>
