<div class="row">
	<div class="col-md-12" style="height: 400px;">
	</br>
	</br>
		<canvas id="ERPStoresManagersOperationsReports-consumeroperations-{{ id }}" width="100%"></canvas>	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="panel-title-list">Consumos personal</div>
			<div class="col-md-12">
				{% if consumersoperationslist is defined %}
				{% set listConstructor = consumersoperationslist %}
				{{ include('@Globale/list.html.twig') }}
				{% endif %}
			</div>
	</div>
</div>
