{% if info is not null %}
<div class="panel minimal">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div id="storetickets-info" class="alert alert-info form-validation-error" style="display: {% if info is defined and info|length > 0 %}block;{% else %}none;{% endif %}">
          <strong>Información:</strong></br></br>
          <ul id="validation-info-list">
            {% if info is defined %}
              {% for item in info %}
                <li>{{ item | raw }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
  function validate_storeticket(){
    $  (".error").remove();
      var valid=true;
      if($("#product-form-code").val()=="" && $("#storeticket-form-reasons-select").val()!="2")
      {
       toastr.error("Por favor, selecciona un producto", "Confirmación", confirmation);
        valid=false;
        return valid;
      }

      if($("#storeticket-form-reasons-select").val()=="2" && ( $("#storeticket-form-storelocation").val()=="" || $("#storeticket-form-storelocation").val()=="-1" ))
      {
         toastr.error("Por favor, selecciona una ubicación", "Confirmación", confirmation);
         valid=false;
         return valid;
      }

      if($("#storeticket-form-observations").val()=="" && $("#storeticket-form-reasons-select").val()!="1")
      {
        toastr.error("Por favor, añade una observación a la incidencia", "Confirmación", confirmation);
         valid=false;
         return valid;

      }

      if($("#storeticket-form-observations-stock-falied").val()=="" && $("#storeticket-form-reasons-select").val()=="1")
      {
        toastr.error("Por favor, añade una observación", "Confirmación", confirmation);
         valid=false;
         return valid;

      }

      if($("#storeticket-form-states-select").val()=="-1" && $("#storeticket-form-reasons-select").val()!="1")
      {
        toastr.error("Por favor, selecciona un estado", "Confirmación", confirmation);
         valid=false;
         return valid;

      }

  return valid;

}
</script>
