<div class="row" id="main_buttons" style="display:none;">
    <div style="text-align: left;" class="col-md-6"></div>
    <div style="text-align: right;margin-bottom:10px;" class="col-md-6">
      <button attr-id="" attr-action="" id="storeticket-main-button-cancel" type="button" class="btn btn">Cancelar</button>
      <button attr-id="" attr-action="" id="storeticket-main-button-save" type="button" class="btn btn-green">Guardar</button>
    </div>
</div>
<script>
$(document).ready(function() {

  {# DOCUMENT SAVE #}
  $('body').on('click', "#storeticket-main-button-save", function(e) {
    if(validate_storeticket())
    {
      $(this).attr("disabled","disabled");
      $.ajax({
         url: '{{ url('dataStoreTickets', {"id": id}) }}',
         type: 'POST',
         data: JSON.stringify(prepare_storeticket_json()),
         success:  function( data ) {
           if((--load_wait)==0) $("#load-spinner").fadeOut();
           if(data.result){
          //	 $("#salesticket-form-id").val(data.data.id);
             toastr.success("Documento guardado correctamente", "Confirmación", confirmation);
              location.reload();
             {% if id==0 %} location.href="/es/ERP/storetickets/form/"+data.data.id; {% endif %}
           } else {
             toastr.error("No se pudo guardar el documento", "Confirmación", confirmation);
           }
         }
       });
    }
   });

   $('body').on('click', "#storeticket-button-cancel", function(e){
   //  alert("ey");
      $("#add-information-modal-form").modal('toggle');
   });

});
</script>
