<div class="modal fade" tabindex="-1" id="consumerdetailedreport-modal-form" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">Consumo detallado del usuario</h4>
				</div>
        <div id="consumerdetailedreport-modal-form-body">
					<div class="row">
						<div class="col-md-12">
							{% if detailedlist is defined %}
							{% set listConstructor = detailedlist %}
							{{ include('@Globale/list.html.twig') }}
							{% endif %}
						</div>
					</div>
        </div>
        </br></br>
        <div id="consumerdetailedreport-modal-form-footer" class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ ("Aceptar")|trans }}</button>
        </div>
      </div>
    </div>
  </div>


<script>
$('body').on('click', "[id^='listStoresManagersOperations-field-button-consumerDetailsButton-']", function(e) {
		var url_list3=$("#{{ detailedlist.id }}").DataTable().ajax.url();
		url_list3=updateURLParameter(url_list3,"consumerid",$(this).attr('attr-id'));
		url_list3=updateURLParameter(url_list3,"datefrom",$('#date-from').val());
		url_list3=updateURLParameter(url_list3,"dateto",$('#date-to').val());
		url_list3=updateURLParameter(url_list3,"store",$('#stores').val());
		$("#{{ detailedlist.id }}").DataTable().ajax.url(url_list3).load();
		$("#consumerdetailedreport-modal-form").modal('show');
});

</script>
