<div class="row">
	<div class="col-md-12" style="height: 400px;">
	</br>
	</br>
		<canvas id="ERPStoresManagersOperationsReports-bestproducts-{{ id }}" width="100%"></canvas>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="panel-title-list">Ranking productos</div>
		{% if productslist is defined %}
		{% set listConstructor = productslist %}
		{{ include('@Globale/list.html.twig') }}
		{% endif %}
	</div>
</div>
