<div class="modal fade" tabindex="-1" id="product-search-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="modal-header">
          <h4 class="modal-title">{{ ('Search')|trans }}&nbsp;{{ ('productos')|trans }}</h4>
        </div>
        <div id="product-search-modal-form-body" style="padding: 0px 10px;">
          {% set listConstructor = productslist %}
          {% set listOrigin = "" %}
          {# for know if list.html is invoked directly from controller and we need to make modals inside list#}
          {{ include('@Globale/list.html.twig') }}
        </div>
    </div>
  </div>
</div>

<script>

var productFields=["product-form-id","product-form-code","product-form-name"];
var productSearchfields=["id","code","name"];

function getVariants(id,code){
  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
      type: "GET",
      dataType: "json",
      url: "/api/ERP/product/variants/"+code+"/get",
    }).done(function( elements, textStatus, jqXHR ) {
      if((--load_wait)==0) $("#load-spinner").fadeOut();
       $("#product-form-variants-"+id).append('<option value="-1">Selecciona Variante...</option>');
       elements.variants.forEach( function(valor, indice, array){
        $("#product-form-variants-"+id).append('<option value="'+valor.id+'">'+valor.name+'</option>');
      });
    });
}


function getLocations(id,store,code,variant){
  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
      type: "GET",
      dataType: "json",
      url: "/api/ERP/worklist/locations/"+store+"/"+code+"/"+variant+"/get",
    }).done(function( elements, textStatus, jqXHR ) {
      if((--load_wait)==0) $("#load-spinner").fadeOut();
      $("#product-form-locations-"+id).append('<option value="0">Selecciona Ubicación...</option>');
       elements.locations.forEach( function(valor, indice, array){
        $("#product-form-locations-"+id).append('<option value="'+valor.id+'">'+valor.name+'</option>');
      });
    });
}

function getStores(id){
  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
      type: "GET",
      dataType: "json",
      url: "/api/ERP/worklist/stores/get",
    }).done(function( elements, textStatus, jqXHR ) {
      if((--load_wait)==0) $("#load-spinner").fadeOut();
        $("#product-form-stores-"+id).append('<option value="0">Selecciona Almacén...</option>');
       elements.stores.forEach( function(valor, indice, array){
        $("#product-form-stores-"+id).append('<option value="'+valor.id+'">'+valor.name+'</option>');
      });
    });

}


function checkGrouped(id,code){
    if((++load_wait)==1) $("#load-spinner").fadeIn();
    $.ajax({
       type: "GET",
       dataType: "json",
       url: "/api/ERP/product/"+code+"/grouped",
     }).done(function(data, textStatus, jqXHR) {
       if((--load_wait)==0) $("#load-spinner").fadeOut();
       if(data.result!="1") {
         $("#product-form-variants-"+id).css("display","none");
         $("#product-form-not-grouped-"+id).css("display","block");
       }
       else{
           getVariants(id,code);
       }

   });

}

function productSearch(id, val, fields, searchFields){
  if(val!=""){
    if((++load_wait)==1) $("#load-spinner").fadeIn();
    $.ajax({
       url: '{{ url('productsearch',{'field':'code'}) }}/'+val,
       type: 'POST',
       data: JSON.stringify(searchFields),
       success:  function( data ) {
         if((--load_wait)==0) $("#load-spinner").fadeOut();
         if(data.result){

           var i=0;
           Object.entries(data.data).forEach(function(element) {
             $("#"+fields[i]+"-"+id).val(element[1]);
             i++;
           });

           var element =  document.getElementById("product-form-location-"+id);
            if (typeof(element) != 'undefined' && element != null)
            {
              jQuery.each( data.data.locations, function( i, val ) {
                $("#product-form-location-"+id).append(new Option(val.name, val.id));
              });
            }

           postProductSearch(id);
         } else {
           clearFields(fields);
         }
       }
     });
   }else clearFields(fields);
}

$(document).ready(function() {

  {# PRODUCT SEARCH #}
  $('body').on('click', "[id^='product-search-button-']", function(e) {
    $("#product-search-modal-form").attr("attr-id",$(this).attr("attr-id"));
    $("#product-search-modal-form").modal('show');
  });

  $('body').on('change', "[id^='product-form-stores-']", function(e) {
    var id=$(this).attr("attr-id");
    var store=$("#product-form-stores-"+id).val();
    var code=$("#product-form-code-"+id).val();
    var variant=$("#product-form-variants-"+id).val();
  //  alert(variant);
    $("#product-form-locations-"+id).empty();
    getLocations(id,store,code,variant);

  });

  $('body').on('click', "[id^='listProducts-field-button-select-']", function(e) {
    $("#product-form-code-"+$("#product-search-modal-form").attr("attr-id")).val($(this).parent().parent().parent().children('td').eq(1).text());
    $("#product-form-code-"+$("#product-search-modal-form").attr("attr-id")).trigger('change');
    $("#product-form-name-"+$("#product-search-modal-form").attr("attr-id")).val($(this).parent().parent().parent().children('td').eq(2).text());
    $("#product-form-name-"+$("#product-search-modal-form").attr("attr-id")).trigger('change');
    $("#product-search-modal-form").modal('toggle');
    var id=$("#product-search-modal-form").attr("attr-id");
    var code=$(this).parent().parent().parent().children('td').eq(1).text();
    checkGrouped(id,code);
    getStores($("#product-search-modal-form").attr("attr-id"));

  //  checkList();
  });
});
</script>
