<div class="modal fade" tabindex="-1" id="historyclocks-modal-form" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
				<div class="modal-header">
					<h4 class="modal-title">{{ ("History")|trans }}</h4>
				</div>
        <div id="historyclocks-modal-form-body">

        </div>
        </br></br>
        <div id="historyclocks-modal-form-footer" class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ ("Aceptar")|trans }}</button>
        </div>
      </div>
    </div>
  </div>
