<div class="panel panel-primary panel-shadow" data-collapsed="0" style="-webkit-box-shadow: none; box-shadow:none;"><!-- to apply shadow add class "panel-shadow" -->
  <div class="panel-body" style="padding: 0px !important;" id="document-totals" attr-numlines="1">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="totals_form_observations">Observaciones (Notas privadas)</label>
          <textarea id="form_observations" name="form[observations]" class="form-control">{{ document.observations }}</textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="totals_form_notes">Notas (Impresas en documentos)</label>
          <textarea id="form_notes" name="form[notes]" class="form-control">{{ document.notes }}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
