{{ include('@Widgets/widget_head.html.twig') }}

<div class="col-md-4">

</div>
<div class="col-md-8"></div>

{{ include('@Widgets/widget_footer.html.twig') }}
{{ include('@Widgets/widget_settings.html.twig') }}

<script>
$(function () {


  

});
</script>
