<ol class="breadcrumb 2">
	{% for item in breadcrumb %}
	<li>
		{% set routeparams=[] %}
		{% if item.routeParams is defined and item.routeParams!=null %} {% set routeparams = routeparams|merge(item.routeParams) %}{% endif %}
		<a href="{% if item.rute is not null %}{{ path(item.rute,routeparams) }}{% endif %}"><i class="{{ item.icon }}"></i>{{ (item.name)|trans }}</a>
	</li>
	{% endfor %}
</ol>
