
<style>
.clockhand polygon {
  stroke-width: 1;
  fill: none;
  pointer-events: visible;
  fill: #003454;
}
.clockhand polygon:hover {
  fill: #3481b0;
  cursor: pointer;
}
</style>
<div class="panel minimal">
    <div class="panel-heading">
      <div class="panel-title">Registro de huellas</div>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class="form-group" style="text-align: center;">
          <div class="col-md-6">
          <svg id="left_hand" class="clockhand" height=300 data-name="Capa 1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.33 512">
            <path id="back" d="M455.33,211c6.18,4.84,16.11,17.05,2,118.5-6,43.47-9.51,53-12.5,60-7.63,17.8-19.69,32.27-43.5,60.5-24.07,28.54-36.41,42.94-51,49-4.85,2-13.39,5-56.5,5-41.55,0-62.32,0-74-3.5-4.16-1.25-57.34-18.13-77.5-66-8.61-20.46-7.86-38.66-7.5-48,4.71-122.54,1-272,1-272s8-13.22,19-17.5c11.32-4.42,23.77,1.45,26,2.5,10.3,4.85,14.39,12.46,17,11,2.36-1.31-.89-7.55-.5-18,.17-4.31,1.22-16.5,9.5-27,3.47-4.4,9.33-11.82,18-13,16.44-2.23,28.94,19.84,35.5,16,3.34-2,.61-8,2.5-20.5,1.09-7.2,3.06-20.2,12-28.5,9.9-9.18,28-12.32,39.5-4.5,9.48,6.45,11.47,18.35,13.5,30.5,2.72,16.28.2,30.34,1.5,30.5.94.12.83-7.42,6-14,6.6-8.4,17.47-9.75,19.5-10,10.05-1.25,21.6,2.22,28.5,10.5,4.87,5.84,5.87,12.19,7.5,22.5a91.85,91.85,0,0,1,1,19.5c-1,20.14-.28,40.33-.5,60.5-.33,31,.53,24.31,0,41-.42,13.55-1.34,29.23.5,29.5s1.8-13.23,12-23c7.05-6.74,15.48-8.43,18.5-9C435.1,201.11,448.18,205.4,455.33,211Z" transform="translate(-125.17)" style="fill:#003454"/>
            <polygon id="finger-left-" attr-finger="" points="266.67 320 341.33 320.24 330.17 211 301.17 201.5 269.17 218.5 266.67 320"/>
            <polygon id="finger-left-" points="202.17 226.5 265.56 226.5 266.67 81.5 257.17 60 240.85 52.5 219.67 54 208.17 65.5 202.17 72 202.17 226.5"/>
            <polygon id="finger-left-" points="202.17 226.5 139.67 226.5 139.67 47.25 143.17 22.74 165.17 10.56 184.67 12.75 198.67 26.89 202.17 226.5"/>
            <polygon id="finger-left-" points="139.67 226.5 73.67 226.5 73.67 87.08 81.67 67.68 99.67 52.5 116.67 54.84 133.17 65.93 140.17 72.35 139.67 226.5"/>
            <polygon id="finger-left-" points="11.91 226.5 73.67 226.5 72.67 113.94 55.67 100.33 37.67 96 17.26 108.41 10.67 118.88 11.91 226.5"/>
            <path d="M167.83,85.33a42.34,42.34,0,0,1,21.34,5.74V85.33a42.65,42.65,0,0,1,64-36.93V42.67a42.67,42.67,0,1,1,85.33,0v5.74a42.63,42.63,0,0,1,64,36.92V202.69a53.1,53.1,0,0,1,32-10.69,32,32,0,0,1,32,32v96.24a189.15,189.15,0,0,1-55.74,134.59l-35.29,35.31A75.26,75.26,0,0,1,322.67,512H242.5A117.47,117.47,0,0,1,125.17,394.67V128A42.71,42.71,0,0,1,167.83,85.33ZM146.5,394.67a96.11,96.11,0,0,0,96,96h80.17A53.67,53.67,0,0,0,360.39,475l35.28-35.29a167.91,167.91,0,0,0,49.5-119.5V224a10.69,10.69,0,0,0-10.67-10.67,32,32,0,0,0-32,32v64a10.67,10.67,0,1,1-21.33,0v-224a21.34,21.34,0,0,0-42.67,0V224a10.67,10.67,0,1,1-21.33,0V42.67a21.34,21.34,0,1,0-42.67,0V224a10.67,10.67,0,1,1-21.33,0V85.33a21.34,21.34,0,0,0-42.67,0V224a10.67,10.67,0,1,1-21.33,0V128a21.34,21.34,0,0,0-42.67,0Z" transform="translate(-125.17)" style="fill:#fff"/><path d="M85.33,192.5" transform="translate(-125.17)" style="fill:#3481b0"/></svg>
          </div>
          <div class="col-md-6">
          <svg class="clockhand" id="right_hand" height=300 data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.33 512">
          		<path id="back" d="M96.5,211c-6.18,4.84-16.11,17.05-2,118.5,6,43.47,9.51,53,12.5,60,7.63,17.8,19.69,32.27,43.5,60.5,24.08,28.54,36.41,42.94,51,49,4.85,2,13.39,5,56.5,5,41.55,0,62.32,0,74-3.5,4.16-1.25,57.35-18.13,77.5-66,8.61-20.46,7.86-38.66,7.5-48-4.71-122.54-1-272-1-272s-8-13.22-19-17.5c-11.31-4.42-23.77,1.45-26,2.5-10.29,4.85-14.39,12.46-17,11-2.36-1.31.9-7.55.5-18-.16-4.31-1.22-16.5-9.5-27-3.47-4.4-9.32-11.82-18-13-16.43-2.23-28.94,19.84-35.5,16-3.34-2-.61-8-2.5-20.5-1.09-7.2-3.05-20.2-12-28.5-9.89-9.18-28-12.32-39.5-4.5C228,21.45,226,33.35,224,45.5c-2.72,16.28-.2,30.34-1.5,30.5-.94.12-.83-7.42-6-14C209.9,53.6,199,52.25,197,52c-10.05-1.25-21.59,2.22-28.5,10.5-4.87,5.84-5.87,12.19-7.5,22.5a92.56,92.56,0,0,0-1,19.5c1,20.14.28,40.33.5,60.5.33,31-.52,24.31,0,41,.42,13.55,1.34,29.23-.5,29.5s-1.8-13.23-12-23c-7-6.74-15.48-8.43-18.5-9C116.74,201.11,103.65,205.4,96.5,211Z" transform="translate(-85.33)" style="fill:#003454"/>
          		<polygon id="finger-right-" points="74.67 320 0 320.24 11.17 211 40.17 201.5 72.17 218.5 74.67 320"/>
          		<polygon id="finger-right-" points="139.17 226.5 75.77 226.5 74.67 81.5 84.17 60 100.49 52.5 121.67 54 133.17 65.5 139.17 72 139.17 226.5"/>
          		<polygon id="finger-right-" points="139.17 226.5 201.67 226.5 201.67 47.25 198.17 22.74 176.17 10.56 156.67 12.75 142.67 26.89 139.17 226.5"/>
          		<polygon id="finger-right-" points="201.67 226.5 267.67 226.5 267.67 87.08 259.67 67.68 241.67 52.5 224.67 54.84 208.17 65.93 201.17 72.35 201.67 226.5"/>
          		<polygon id="finger-right-" points="329.42 226.5 267.67 226.5 268.67 113.94 285.67 100.33 303.67 96 324.07 108.41 330.67 118.88 329.42 226.5"/>
          		<path d="M384,85.33a42.27,42.27,0,0,0-21.33,5.74V85.33a42.65,42.65,0,0,0-64-36.93V42.67a42.67,42.67,0,0,0-85.34,0v5.74A42.27,42.27,0,0,0,192,42.67a42.71,42.71,0,0,0-42.67,42.66V202.69a53.07,53.07,0,0,0-32-10.69,32,32,0,0,0-32,32v96.24a189.11,189.11,0,0,0,55.75,134.59l35.28,35.31A75.26,75.26,0,0,0,229.16,512h80.17A117.47,117.47,0,0,0,426.67,394.67V128A42.72,42.72,0,0,0,384,85.33Zm21.33,309.34a96.11,96.11,0,0,1-96,96H229.16A53.67,53.67,0,0,1,191.45,475l-35.29-35.29a167.94,167.94,0,0,1-49.49-119.5V224a10.68,10.68,0,0,1,10.66-10.67,32,32,0,0,1,32,32v64a10.67,10.67,0,1,0,21.34,0v-224a21.33,21.33,0,0,1,42.66,0V224a10.67,10.67,0,0,0,21.34,0V42.67a21.33,21.33,0,1,1,42.66,0V224a10.67,10.67,0,0,0,21.34,0V85.33a21.33,21.33,0,1,1,42.66,0V224a10.67,10.67,0,0,0,21.34,0V128a21.33,21.33,0,1,1,42.66,0Z" transform="translate(-85.33)" style="fill:#fff"/><path d="M466.5,192.5" transform="translate(-85.33)" style="fill:#3481b0"/>
          	</svg>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  $(document).ready(function() {
    $('body').on('click', "[id^='{{formConstructor.name}}-button-continue']", function() {

    });
  });
</script>
