<!-- Modal para envío de correos electrónicos -->
<div class="modal fade" tabindex="-1" id="document-send-form" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <div class="modal-header">
          <h4 class="modal-title">{{ ('Document send')|trans }}</h4>
        </div>
        <div id="document-send-modal-form-body" style="padding: 0px 10px;">
          {{ include('@Email/email_compose_mini_editor.html.twig') }}
        </div>
    </div>
  </div>
</div>

<script>
// Correos electrónicos a mostrar
// Se obtienen del contralador indicado y con el ID correspondiente
// a filtrar en este controlador
function getEmailAddress(controller, idelement){
  if((++load_wait)==1) $("#load-spinner").fadeIn();
  $.ajax({
     url: controller+'/'+idelement,
     type: 'POST',
     success:  function( data ) {
        $('#mail-addresses').empty().trigger("change");
        var newOption = new Option("Introducir manualmente", "", false, false);
        $('#mail-addresses').append(newOption).trigger('change');
         var select=false;
         jQuery.each(data.addresses, function(i, item) {
           var newOption = new Option(item, item, select==false?true:false, select==false?true:false);
           select=true;
           $('#mail-addresses').append(newOption).trigger('change');
         });
         $("#document-send-form").modal('show');
       },
       complete: function(data){
         if((--load_wait)==0) $("#load-spinner").fadeOut();
       }
   });
}

function capitalize(word) {
  return word[0].toUpperCase() + word.slice(1).toLowerCase();
}

$(document).ready(function() {
  $('body').on('click', "[id='document-button-email']", function(e) {
    e.stopPropagation();
    var controller_getemails  = $(this).attr("attr-controller_getemails");
    var controller_getdocs    = $(this).attr("attr-controller_getdocs");
    var id                    = $(this).attr("attr-id");
    var code                  = $(this).attr("attr-code");
    var documenttype          = $(this).attr("attr-documenttype");
    var receiver              = $(this).attr("attr-receiver");
    var token                 = '{{ token }}';
    $("#subject").val(capitalize(documenttype)+" "+code);
    $("#cc").val("");
    $("#bcc").val("");
    wysihtml5Editor.value="<p>Estimado "+receiver+",</p><p>adjuntamos "+documenttype+" número "+code+"</p>"+"<p>Saludos, atentamente</p><!-- start:"+token+" --><!-- end:"+token+" -->";
    getSignature();
    jsonFiles=[];
    //Prepare document
    if((++load_wait)==1) $("#load-spinner").fadeIn();
    $.ajax({
       url: controller_getdocs+'/'+id,
       type: 'POST',
       success:  function( data ) {
         // Obtener direcciones
         if(data.result){
           getEmailAddress(controller_getemails, id);
         }else toastr.error("Ocurrio un error al generar el documento", "Confirmación", confirmation);
        },
        complete: function(data){
          if((--load_wait)==0) $("#load-spinner").fadeOut();
        }
    });
    jsonFiles=[code+'.pdf'];
  });

  $( "#form-send-mail" ).on( "submit", function( event ) {
    $("#document-send-form").modal('hide');
  });

  $('#btn-discard-mail').click(function(){
    $("#document-send-form").modal('hide');
  });

  $("#mail-addresses").on("change", function(event){
    addressesChange();
  });

  function addressesChange(){
    if($("#mail-addresses").val()==""){
      $("#to").val("");
      $("#to").parent().show();
    }else{
      $("#to").val($("#mail-addresses").val());
      $("#to").parent().hide();
    }
  }

  addressesChange();

});
</script>
