<!-- Error -->
<div align="center">
  <p><img src="{{ url('index') }}/images/icons/error.png" height="48px" alt="ICF" /></p>
	<strong>{% if error_text is defined %}{{ error_text }}{% else %}Error general{% endif %}</strong>
</div>
