<!-- Footer -->
<footer class="main">
<div align="center">
	<!--<p><img src="{{ url('index') }}/images/logo-transparent.png" width="180" alt="" /></p></br>-->
	&copy; {{ "now"|date("Y") }} <strong>Aplicode Engineered Technologies S.L.</strong>
</div>
</footer>