<div class="panel minimal">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div id="{{formConstructor.name}}-validation-error" class="alert alert-danger form-validation-error" style="display: none">
          <strong>Ocurrieron los siguientes errores:</strong></br></br><ul id="validation-errors-list"></ul>
        </div>
        <div id="{{formConstructor.name}}-validation-warning" class="alert alert-warning form-validation-error" style="display: none">
          <strong>Revise las siguientes advertencias:</strong></br></br><ul id="validation-warnings-list"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
